<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-edit-plist-file"
    version="0.0.1">

    <!-- ios -->
    <platform name="ios">

        <edit-config file="*-Info.plist" mode="overwrite"
            target="NSLocationWhenInUseUsageDescription">
            <string>We need your location to help you navigate the NEOM community.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="overwrite" target="NSLocationAlwaysUsageDescription">
            <string>We need your location to help you navigate the NEOM community.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="overwrite"
            target="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>We need your location to help you navigate the NEOM community.</string>
        </edit-config>

    </platform>

</plugin>